<?php
//Create a _globals.php file
//This is the sample of _globals.php file. 


$GLOBALS['MYSQL_DOMAIN']="YOUR_DOMAIN";
$GLOBALS['MYSQL_USERNAME']="YOUR_USERNAME";
$GLOBALS['MYSQL_PASSWORD']="YOUR PASSWORD";
$GLOBALS['MYSQL_DATABASE']="YOUR_DB";
$GLOBALS['TWITTER_TIMELINE_LINK']="LINK TO SOME EMBEDDABLE TIMELINE";
$GLOBALS['TWITTER_DATA_WIDGET_ID']="LINK TO THE ID OF GENERATED WIDGET";
$GLOBALS['CONSUMER_KEY']="YOUR CONSUMER KEY";
$GLOBALS['CONSUMER_SECRET']="YOUR CONSUMER SECRET";
$GLOBALS['ACCESS_TOKEN']="YOUR ACCESS TOKEN";
$GLOBALS['ACCESS_TOKEN_SECRET']="YOUR SECRET";

?>