<?php
//Create a _globals.php file
//This is the sample of _globals.php file. 


$GLOBALS['MYSQL_DOMAIN']="localhost";
$GLOBALS['MYSQL_USERNAME']="user";
$GLOBALS['MYSQL_PASSWORD']="pass";
$GLOBALS['MYSQL_DATABASE']="db";

$GLOBALS['TWITTER_TIMELINE_LINK_DRUPAL']="something";
$GLOBALS['TWITTER_DATA_WIDGET_ID_DRUPAL']="123";

$GLOBALS['TWITTER_TIMELINE_LINK_ATTENDEES']="something";
$GLOBALS['TWITTER_DATA_WIDGET_ID_ATTENDEES']="123";

$GLOBALS['TWITTER_TIMELINE_LINK_DRUPALCON']="something";
$GLOBALS['TWITTER_DATA_WIDGET_ID_DRUPALCON']="123";

$GLOBALS['CONSUMER_KEY']="YOUR CONSUMER KEY";
$GLOBALS['CONSUMER_SECRET']="YOUR CONSUMER SECRET";
$GLOBALS['ACCESS_TOKEN']="YOUR ACCESS TOKEN";
$GLOBALS['ACCESS_TOKEN_SECRET']="YOUR SECRET";
?>