<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hand picked Tweets</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-app="mainModule">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hand Picked Tweets</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="sir" class="active" ><a href="#">Humour</a></li>       
            <li class="sir"><a href="#about" >Business</a></li>
            <li class="sir"><a href="#" >Food</a></li>
            <li class="sir"><a href="#" >Political</a></li>
            <li class="sir"><a href="#" >Sports</a></li>
            <li class="sir"><a href="#" >Other</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <div ng-controller="mainController">
    <h3>1. Simple GET call</h3>
   <!-- <button ng-change="simpleGetCall(true)">Call server with SUCCESS</button><br />
    <button ng-click="simpleGetCall(false)">Call server with ERROR</button><br />
    -->
  
    <div ng-repeat="data in simpleGetCallResult">
           {{data.post['tweet-oembed']}}<br/>
    </div>
            
  </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jss/jquery.js"></script>
    <script src="jss/bootstrap.min.js"></script>
    <script src="jss/angular.js"></script>
    <script src="jss/script.js"></script>
  </body>
</html>