<div class="row content">
        <div class="col-xs-12">
            <a href="#/">
          <p class="category top" data-ng-repeat="val in gtlabel" ng-show="val['label-id']===labelsend">
              <span class="arrow pull-left">&lt;</span>{{val['label-name']}}</p>
            </a>
        </div>
        <div id="tweettop" class="tweets">
        <div ng-repeat="stack in tweets | orderBy:'id':true" ng-tweets-render>
        <div class="col-xs-12">
            <div ng-show="stack.labelid===labelsend" ng-bind-html="stack.tweet | unsafe"></div>
        </div>
</div>
        </div>
     </div>