
       	<div class="row content">
        <div class="col-xs-12">
            <a href="#/"><p class="category"><span class="pull-left glyphicon glyphicon-chevron-left"></span>{{labelsend}}</p></a>
        </div>
        <div data-ng-repeat="label in tweets">
        <div data-ng-repeat="tweet in label">
            <div class="col-xs-12">
                <div ng-bind-html="tweet | unsafe"></div>
                </div>
            </div>
        </div>
        </div>
	
    </div> <!-- /container -->
    <!-- -->
 
  </body>
</html>
